
/csharp/DesignPatter.Testing.PageObjectPattern/packages
/csharp/DesignPatter.Testing.PageObjectPattern/bin
/csharp/DesignPatter.Testing.PageObjectPattern/obj
/csharp/DesignPatter.Testing.PageObjectPattern/.vs/
