<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Testing.Ioc.Util.Interfaces.IEliteMoviePage, Testing.Ioc"
                mapTo="Testing.Ioc.Pages.EliteMoviePage, Testing.Ioc">
        <lifetime type="singleton"/>
      </register>
      <register type="Testing.Ioc.Util.Interfaces.IConfirmationPage, Testing.Ioc"
              mapTo="Testing.Ioc.Pages.ConfirmationPage, Testing.Ioc">
        <lifetime type="singleton"/>
      </register>
      <register type="Testing.Ioc.Util.Interfaces.IAssignSeatPage, Testing.Ioc"
                mapTo="Testing.Ioc.Pages.AssignSeatPage, Testing.Ioc">
        <lifetime type="singleton"/>
      </register>
      <register type="Testing.Ioc.Util.Interfaces.ISelectionSchedulePage, Testing.Ioc"
                mapTo="Testing.Ioc.Pages.SelectionSchedulePage, Testing.Ioc">
        <lifetime type="singleton"/>
      </register>
      <register type="Testing.Ioc.Validation.Interfaces.IEliteMovieValidator, Testing.Ioc"
                mapTo="Testing.Ioc.Validation.EliteMovieUiValidator, Testing.Ioc">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
</configuration>