<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Testing.IoC.Util.Interface.IEliteMoviePage, Testing.IoC"
                mapTo="Testing.IoC.Pages.EliteMoviePage, Testing.IoC">
        <lifetime type="singleton"/>
      </register>
      <register type="Testing.IoC.Util.Interface.IConfirmationPage, Testing.IoC"
                mapTo="Testing.IoC.Pages.ConfirmationPage, Testing.IoC">
        <lifetime type="singleton"/>
      </register>
      <register type="Testing.IoC.Util.Interface.IAssignSeatPage, Testing.IoC"
                mapTo="Testing.IoC.Pages.AssignSeatPage, Testing.IoC">
        <lifetime type="singleton"/>
      </register>
      <register type="Testing.IoC.Util.Interface.ISelectionSchedulePage, Testing.IoC"
                mapTo="Testing.IoC.Pages.SelectionSchedulePage, Testing.IoC">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
</configuration>